.bottom-box {
    top: 425px;
    background-color: #A6D0DD;
    width: 250px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    height: 275px;
    text-align: center;
    float: right;
    position: absolute;
  }
  
  .cards-container-5-by-5 {
  display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      width: 1400px;
      height: 650px;
      border-radius: 3px;
      place-items: center;
  }
  
  .card {
    background-color: beige;
    border: 1px solid beige;
    width: 80%;
    height: 90%;
    border-radius: 5px;
    text-align: center;
    align-self: flex-end;
    justify-content: end;
  }
  
  .boxes-container {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 65px;
    height: 350px;
    width: 100%;
  }
  
  .container-red {
    background-color: #FF6969;
    width: 250px;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    height: 275px;
    text-align: center;
  
    -webkit-box-shadow: -2px 6px 43px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 43px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 43px 0px rgba(0,0,0,0.75);
  }
  
  .container-blue {
    background-color: #A6D0DD;
    width: 250px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    height: 275px;
    text-align: center;
    float: right;
    position: relative;
  
    -webkit-box-shadow: -2px 6px 43px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 43px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 43px 0px rgba(0,0,0,0.75)
  }
  
  .red-button {
    border-radius: 5px;
    border: solid black 2px;
    background: #ffd3b0;
    padding: 8px;
    margin: 2px;
    cursor: pointer;
  }
  
  .blue-button {
    border-radius: 5px;
    border: solid black 2px;
    background: #9ba4b5;
    padding: 8px;
    margin: 2px;
    cursor: pointer;
  }
  
  body {
    background: #d38312;  
    background: -webkit-linear-gradient(
      to right,
      #a83279,
      #d38312
    );  
    background: linear-gradient(
      to right,
      #a83279,
      #d38312
    );  
  }
  
  .player-icon {
    margin: auto;
    display: block;
    padding: 10px;
  }
  
  .operative-text {
    font-weight: 100;
    text-align: center;
  }
  
  .code-names-image {
    padding: 20px;
  }
  
  #textclue {
    border-radius:5px ;
    padding: 10px;
  }